<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preacher of love</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{>header}}
    <div>
        <a href="/">Home</a>
        <a href="/weather">Weather</a>
        <a href="/help">Help</a>
    </div>
    <b>Every One can never be preaching {{what}}!!!</b>


    <form>
        <input type="text" placeholder="Input search">
        <button>Submit</button>
    </form>
    <p id='long'></p>
    <p id='lat'></p>
    <p id='location'></p>
    <p id='error'></p>

    {{>footer}}
    <script src="/clientSide/pegasus.js"></script>
</body>

</html>