<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather forecast</title>
</head>

<body>
    {{>header}}
    <b>The temperature is {{Temperature}} and it seems {{forecast}} and address is {{address}} {{dt}}</b>

    {{>footer}}
</body>

</html>